@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


:root {
    --primary-color: #91b267;
    --secondary-color: #2d6240;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: #002240;
    line-height: 1.5;
    font-size: 20px;
}

.header {
    width: 100%;
    height: 100px;
    background-color: var(--primary-color);
}

.header-title {
    font-size: 3rem;
    color: white;
    margin-left: 20%;
}

.introduction {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 55% auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    position: relative;
}

.intro {
    padding: 20px; 
    animation: slideInFromLeft 1s ease-in;
}

.intro p {
    width: 85%;
}

.intro-title {
    font-size: 40px;
}

.intro-form {
    position: relative;
    top: 50px;
    height: 340px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    animation: slideInFromRight 1s ease-in;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
    border-radius: 10px;
    text-align: center;
 }

.intro-title h2 {
    margin: 10px 0;
}

.intro-form h3 {
    padding: 10px 0;
 }

.intro-form input[type='text'] {
    padding: 10px 0;
    width: 80%;
    margin: 10px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #002240;
 }

 .intro-form input:focus {
     outline: none;
 }

 .knopf {
     background-color: var(--primary-color);
     padding: 15px 20px;
     font-size: 14px;
     border: none;
     cursor: pointer;
     border-radius: 10px;
 }

 .knopf:hover {
    transform: scale(0.9);
 }

 .introduction::before,
.introduction::after {
  content: '';
  position: absolute;
  height: 80px;
  bottom: -60px;
  right: 0;
  left: 0;
  background: white;
  transform: skewY(3deg);
}

/* ___ expertise ___ */

.tierart-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    margin: 3rem 0;
    animation: slideInFromBottom 1s ease-in;
}

.tierart-icons i {
    color: black;
    align-items: center;
}

.tierart-text {
    text-align: center;
    padding: 20px 0;
}


.angebot {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: auto;
}

.angebot img {
    width: 70%;
    margin: auto;
    border-radius: 10px;
}

.angebot > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.karte {
    background-color: white;
    box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
    border-radius: 10px;
    text-align: center;
    padding: 20px 30px;
    margin: 25px 10px;
    transition: transform 0.2s ease-in;
}

.weitere {
    max-width: 1100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: auto;
}

.weitere img {
    width: 150px;
    height: 120px;
}

.weitere .karte:hover {
    transform: translateY(-20px);
}

/* Tipps */

.tipps {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    margin: 30px 0;
}

.tipps button {
    background-color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    margin: 25px 0;
}

.tipps button:hover {
    transform: scale(0.9);
}

.tipps i {
    margin-left: 25px;
}

/* Footer */

.footer {
    background-color: var(--secondary-color);
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    font-size: 15px;
}

.footer a {
    text-decoration: none;
    color: white;
    transition: transform 1s ease-in;
}

.footer a:hover {
    color: #333;
}

.footer .social a {
    margin: 0 10px;
}

/* Keyframes */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* media queries */

/*Tablets*/

@media (max-width: 800px) {
    .introduction,
    .tierart-icons,
    .angebot,
    .tipps {
        display: flex;
        flex-direction: column;
    }
}

/*Phones*/

@media (max-width: 590px) {
    .footer {
        display: flex;
        flex-direction: column;
    }
    .footer {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/* besonderheiten*/
@media (max-width: 1190px) {
    .intro-form {
        width: 300px;
        padding: 20px;
    }
    .weitere {
        display: flex;
        flex-wrap: wrap;
    }
}

/* Default nav */

.default-nav {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 9999;
    background-color: tomato;
    height: 120px;
    justify-content: center;
    align-items: center;
    width: 60px;
    text-align: center;
    animation: slideNav 0.5s ease-in;
  }
  
  .default-nav ul {
    list-style: none;
  }
  
  .default-nav a {
    text-decoration: none;
    color: white;
  }
  
  .default-nav a:hover {
    color: teal;
  }
  
  .default-nav i {
    padding: 19px 10px;
    font-size: 18px;
  }
  
  @keyframes slideNav {
    0% {
      transform: translateX(-200%);
    }
  
    100% {
      transform: translateX(0);
    }
  }